.footer {
  background-color: $primary;
}

.social-linklist-item {
  max-width: 48px;
  @include lg{
    max-width: 40px;
  }
  @include md{
    max-width: 24px;
  }
}

.policy-link {
  font-size: 14px;
}