.banner {
  @extend %background;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  padding: 296px 0px;

  @include lg {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  }

  @include md {
    padding: 144px 0px;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include sm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.link-btn {
  display: block;
  padding: 6px 12px;
  background-color: $primary;

  @include sm {
    display: block;
    padding: 6px 12px;
    background-color: $primary;
  }
}

.feature {
  background-color: $third;
  padding: 80px 0px;

  @include sm {
    padding: 40px 0px;
  }
}

.feature-list {
  display: flex;
  gap: 24px;

  @include lg {
    flex-wrap: wrap;
    margin: 0px -12px;
    gap: 0;
  }
}

.feature-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 306px;

  img {
    width: 84px;
  }

  @include lg {
    width: 49.9%;
    padding: 0px 12px;
  }

  @include sm {
    width: 100%;
    padding-bottom: 24px;
  }
}

.feature-list-card:last-child {
  @include sm {
    padding-bottom: 0px;
  }
}


.classic {
  padding-top: 80px;
  padding-bottom: 80px;

  @include lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}




.classic-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;

  img {
    width: 416px;
    display: block;
  }

  @include lg {
    flex-direction: column;
  }
}


.collaborate {
  @extend %background;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  padding: 80px 0px;

  @include lg {
    background-position: top;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
  }
}

.collaborate-list {
  display: flex;

  @include lg {
    flex-direction: column;
    align-items: center;
  }
}

.collaborate-list-card {
  img {
    width: 648px;
    display: block;
  }
}

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;

  @include sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.reviews-list {
  display: flex;
  gap: 24px;

  @include lg {
    flex-wrap: wrap;
    gap: 0px;
    margin: -12px -12px;
  }
}

.reviews-list-card {
  width: 306px;

  img {
    display: block;
  }

  .reviews-list-card-content {
    p {
      height: 72px;
    }

    padding: 16px;
  }

  @include lg {
    width: 49.9%;
    padding: 12px 12px;
  }

  @include sm {
    margin-bottom: 16px;
    width: 100%;
  }
}

.reviews-list-card:last-child {
  @include sm {
    margin-bottom: 0px
  }
}

.date {
  font-size: 14px;
  color: $gray;
}

.contact {
  background-color: $third;
  padding: 80px 0px;

  @include sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.contact-container {
  max-width: 708px;
  padding: 0px 36px;
  margin: 0 auto;

  @include lg {
    max-width: 648px;
  }

  @include sm {
    padding: 0px 12px;
  }
}

.contact-us {
  input[type="text"] {
    background-color: $third;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #000;
    font-size: 16px;
  }

  .contact-us-feedback {
    height: 136px;
    vertical-align: top;
    background-color: $third;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 16px 176px;
    border: 0px;

    @include lg {
      padding: 16px 136px;
    }

    @include sm {
      padding: 16px 0px;
      width: 100%;
    }
  }

  input[type="submit"]:hover {
    text-decoration: underline;
  }
}

.footer {
  background-color: $primary;
}

.social-linklist-item {
  width: 48px;

  @include sm {
    max-width: 24px;
  }
}

.policy-link {
  font-size: 14px;
}