.container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 36px;

  @include sm {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@for $i from 1 through 16 {
  .m {
    &b {
      &-#{$i} {
        margin-bottom: $i*4px;
      }
    }

    &r {
      &-#{$i} {
        margin-right: $i*4px;
      }
    }

    &l {
      &-auto {
        margin-left: auto;
      }
    }

    &y {
      &-#{$i} {
        margin-top: $i*4px;
        margin-bottom: $i*4px;
      }
    }
  }
}

@for $i from 1 through 16 {
  .m {
    &b {
      &-md-#{$i} {
        margin-bottom: $i*4px;
      }
    }

    &r {
      &-md-#{$i} {
        margin-right: $i*4px;
      }
    }

    &l {
      &-md-auto {
        margin-left: auto;
      }
    }

    &y {
      &-md-#{$i} {
        margin-top: $i*4px;
        margin-bottom: $i*4px;
      }
    }
  }
}

@include lg {
  @for $i from 1 through 16 {
    .m {
      &b-lg {
        &-#{$i} {
          margin-bottom: $i*4px;
        }
      }
    }
  }
}


@include sm {
  @for $i from 1 through 16 {
    .m {
      &b-sm {
        &-#{$i} {
          margin-bottom: $i*4px;
        }
      }

      &r-sm {
        &-#{$i} {
          margin-right: $i*4px;
        }
      }
    }
  }

  .m {
    &l-sm-auto {
      margin-left: auto;
    }
  }
}

@for $i from 1 through 16 {
  .p {
    &-0 {
      padding: 0px;
    }

    &t {
      &-#{$i} {
        padding-top: $i*4px;
      }
    }

    &b {
      &-#{$i} {
        padding-bottom: $i*4px;
      }
    }

    &y {
      &-#{$i} {
        padding-top: $i*4px;
        padding-bottom: $i*4px;
      }
    }
  }
}

@include lg {
  @for $i from 1 through 16 {
    .p {
      &b-lg {
        &-#{$i} {
          padding-bottom: $i*4px;
        }
      }
    }
  }
}

@include sm {
  @for $i from 1 through 16 {
    .p {
      &t-sm {
        &-#{$i} {
          padding-top: $i*4px;
        }
      }

      &b-sm {
        &-#{$i} {
          padding-bottom: $i*4px;
        }
      }
    }
  }
}

.text-align {
  &-center {
    text-align: center;
  }
}

.color {
  &-primary {
    color: $primary;
  }

  &-light {
    color: $light
  }

  &-dark {
    color: $dark;
  }
}

.bg {
  &-primary {
    background-color: $primary;
  }

  &-light {
    background-color: $light;
  }

  &-third {
    background-color: $third;
  }

  &-dark {
    background-color: $dark;
  }
}

.shadow {
  box-shadow: 0px 2px 6px #00000029;
}

.vertical-align {
  &-middle {
    vertical-align: middle;
  }
}

.d {
  &-flex {
    display: flex;
  }

  &-block {
    display: block;

  }

  &-none {
    display: none;
  }

  @include lg {
    &-lg {
      &-flex {
        display: flex;
      }

      &-block {
        display: block;
      }

      &-none {
        display: none;
      }
    }
  }

  @include sm {
    &-sm {
      &-flex {
        display: flex;
      }

      &-block {
        display: block;
      }

      &-none {
        display: none;
      }
    }
  }
  @include md {
    &-md {
      &-flex {
        display: flex;
      }

      &-block {
        display: block;
      }

      &-none {
        display: none;
      }
    }
  }
}

.flex-direction {
  &-column {
    flex-direction: column;
  }
  @include md {
    &-md {
      &-column {
        flex-direction: column;
      }
    }
  }
  @include sm {
    &-sm {
      &-column {
        flex-direction: column;
      }
    }
  }
}

.flex-shrink {
  &-0 {
    flex-shrink: 0;
  }

  &-1 {
    flex-shrink: 1;
  }
}

.align-items {
  &-start {
    align-items: flex-start;
  }
  &-center{
    align-items: center;
  }
}

.justfy-content {
  &-between {
    justify-content: space-between;
  }
}

@for $i from 1 through 16 {
  .gap-#{$i} {
    gap: $i*4px;
  }
}

@include lg {
  @for $i from 1 through 16 {
    .gap-lg-#{$i} {
      gap: $i*4px;
    }
  }
}
@include md {
  @for $i from 1 through 16 {
    .gap-md-#{$i} {
      gap: $i*4px;
    }
  }
}
@include sm {
  @for $i from 1 through 16 {
    .gap-sm-#{$i} {
      gap: $i*4px;
    }
  }
}

@for $i from 1 through 16 {
  .font-size-#{$i} {
    font-size: $i*4px;
  }
}

@include md {
  @for $i from 1 through 16 {
    .font-size-md-#{$i} {
      font-size: $i*4px;
    }
  }
}

@include sm {
  @for $i from 1 through 16 {
    .font-size-sm-#{$i} {
      font-size: $i*4px;
    }
  }
}

.font-style {
  &-italic {
    font-style: italic;
  }
}

.font-weight {
  &-bold {
    font-weight: bold;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: $gap/-2;
  margin-right: $gap/-2;
}

@for $i from 1 through $columns-num {
  .col-#{$i} {
    width: 100%*($i/$columns-num);
    padding-left: $gap/2;
    padding-right: $gap/2;
  }
}

@include lg {
  @for $i from 1 through $columns-num {
    .col-lg-#{$i} {
      width: 100%*($i/$columns-num);
      padding-left: $gap/2;
      padding-right: $gap/2;
    }
  }
}

@include sm {
  @for $i from 1 through $columns-num {
    .col-sm-#{$i} {
      width: 100%*($i/$columns-num);
      padding-left: $gap/2;
      padding-right: $gap/2;
    }
  }
}

.border-gray {
  border: 1px solid $gray-800;
}