$primary: #AA0601;
$secondary: #650300;
$third: #FBF2F2;
$light: #FFFFFF;
$dark: #000000;
$gray: #707070;
$gray-100: #CED4DA;
$gray-500: #495057;

$title-color: $secondary;
$link-color: $light;
$select-primary: $gray-500;